<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d9f10b2e-1f1e-4266-91cb-ed4027eba114/resourceGroups/Huu-resource/providers/Microsoft.ContainerRegistry/registries/huurctest</ResourceId>
    <ResourceName>huurctest</ResourceName>
    <ResourceGroup>Huu-resource</ResourceGroup>
    <Subscription>DSE DEV</Subscription>
    <RegistryUrl>https://huurctest.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>75b66f26-34d9-42bb-8b6a-a48db532768c</ProjectGuid>
  </PropertyGroup>
</Project>